*{
    font-family: "Nunito", sans-serif;
    font-style: normal;
    margin: 0px;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #006C6C;
    color: #FFFFC9;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #006c6cc9;
    padding: 5px;
}

div.left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.right{
    display: flex;
}

nav a{
    color: #FFFFC9;
    text-decoration: none;
}

nav a:hover{
    color: #9AE5E5;
}

div.column_left a{
    color: #006C6C;
    text-decoration: none;
}
body{
    display: flex;
    background-color: #FFFFC9;
    height: 100vh;
    flex-direction: column;
}

article{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

#back{
    margin-left: 5%;
    color: #006c6c;
    text-decoration: none;
}

#back:hover{
    margin-left: 5%;
    color: #9AE5E5;
}

#price{
    text-align: center;
}

#column_left{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

div.column_left h1{
    text-align: center;
}

div.column_left img{
    margin: auto;
}

#column_right{
    width: 50vw;
}

#artist{
    margin-left: 7%;
}

div.column_right p{
    margin-left: 5%;
}

footer{
    padding: 5px;
    margin-top: auto;
    text-align: center;
    color: #FFFFC9;
    background-color: #006C6C;
}

img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: none;
    border-radius: 30px;   
    color: #9AE5E5;
    background-color: #F39595;
}

button:hover{
    border: none;
    border-radius: 30px;   
    background-color: #9AE5E5;
    color: #F39595;
}
